:root {
  --main-font-family: "Roboto", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --light-color: #FFFFFF;
  --footer__contacts: rgba(255, 255, 255, 0.6);
  --dark-background: #2F303A;
  --light-background: #FFFFFF;
  --accent-background: #F5F4FA;
  --hero__button-hover: #188CE8;
  --header-border: #ECECEC;
  --projects-border: #EEEEEE;
  --features-list__icon-background: #F5F4FA;
  --team-clients-list__icons-link: #AFB1B8;
  --footer-socials-link: rgba(255, 255, 255, 0.1);
  --work-list__text-background: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-bg: rgba(33, 150, 243, 0.9);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --modal-form-placeholder: rgba(117, 117, 117, 0.5);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-color);
  background-color: var(--light-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.logo_dark_theme {
  color: var(--light-color);
}

.title {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--light-background);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration) var(--transition-timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu-pages {
    margin-bottom: 302px;
  }
  .mobile-menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: fill var(--transition-duration) var(--transition-timing-function);
  }
  .mobile-menu-close:hover, .mobile-menu-close:focus {
    fill: var(--accent-color);
  }
  .mobile-menu-pages__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 32px;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .mobile-menu-pages__item:hover, .mobile-menu-pages__item:focus {
    color: var(--accent-color);
  }
  .mobile-menu-contacts {
    margin-bottom: 64px;
  }
  .mobile-menu-pages__link,
.mobile-menu-contacts__link,
.mobile-menu-socials__link {
    color: inherit;
    font-family: inherit;
  }
  .mobile-menu-pages__link_current {
    color: var(--accent-color);
  }
  .mobile-menu-contacts__item {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .mobile-menu-contacts__item:hover, .mobile-menu-contacts__item:focus {
    color: var(--accent-color);
  }
  .mobile-menu-contacts__item_tel {
    color: var(--accent-color);
    margin-bottom: 32px;
  }
  .mobile-menu-contacts__item_mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  .mobile-menu-socials {
    display: flex;
    align-content: baseline;
    justify-content: flex-start;
    padding-right: 69px;
  }
  .mobile-menu-socials__item {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu-socials__divider {
    display: inline-block;
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn_close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--light-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal__btn_close:hover, .modal__btn_close:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.modal-form__field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal-form__input-desc,
.modal-form__comment-desc {
  display: inline-block;
  margin-bottom: 4px;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input {
  display: block;
  padding-left: 40px;
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment-field {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal-form__comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.modal-form__comment:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form__comment::placeholder {
  color: var(--modal-form-placeholder);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__check-desc {
  overflow: visible;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.modal-form__check-desc::before {
  display: inline-block;
  content: "";
  border: 2px solid var(--main-color);
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  transition: background-image var(--transition-duration) var(--transition-timing-function);
}
.modal-form__checkbox:checked + .modal-form__check-desc::before {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-position: center;
  border-color: var(--accent-color);
  outline: none;
}
.modal-form__checkbox:focus + .modal-form__check-desc::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.modal-form__btn_submit {
  padding: 10px 52px;
  min-width: 200px;
  min-height: 50px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--light-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.modal-form__btn_submit:hover, .modal-form__btn_submit:focus {
  background-color: var(--hero__button-hover);
}

.modal-form__link {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .modal-form__text {
    width: 370px;
    height: 60px;
  }
  .modal-form__check-desc {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__check-desc {
    font-size: 14px;
    line-height: 1.71;
  }
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo_accent {
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: fill var(--transition-duration) var(--transition-timing-function);
  }
}
@media screen and (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid var(--header-border);
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
  }
  .page-header__logo {
    margin-right: 88px;
  }
  .nav-list__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    color: var(--main-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .nav-list__link:hover {
    color: var(--accent-color);
  }
  .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__link_current {
    color: var(--accent-color);
  }
  .nav-list__link_current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts-list__link {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    fill: currentColor;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .contacts-list__link:hover {
    color: var(--accent-color);
  }
  .contacts-list__link:focus {
    color: var(--accent-color);
  }
  .contacts-list__icon {
    margin-right: 10px;
    display: inline-block;
  }
  .contacts-list__icon:hover, .contacts-list__icon:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
  .contacts-list {
    display: flex;
    margin-left: auto;
  }
  .contacts-list__item {
    display: inline-flex;
  }
  .contacts-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
}
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-mobile.jpg");
  background-size: cover;
  background-color: var(--dark-background);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-mobile@2x.jpg");
  }
}
.hero__button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--light-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hero__button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .hero__button {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.features-list__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.features-list__icon {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-height: 120px;
  background-color: var(--features-list__icon-background);
}

@media screen and (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .features-list__subtitle {
    text-align: center;
    margin-bottom: 10px;
  }
  .features-list__item:not(:last-child) {
    display: block;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.work {
  padding-bottom: 94px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.work-wrapper {
  position: relative;
}

.work-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  background-color: var(--work-list__text-background);
}

.team {
  background-color: var(--accent-background);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-card-content-wrapper {
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list__item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90px) / 4);
}

.team-list__member {
  font-size: inherit;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__position {
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-icons-list__item {
  width: 44px;
  height: 44px;
}

.team-icons-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.team-icons-list__link:hover, .team-icons-list__link:focus {
  background-color: var(--accent-color);
}

.team-icons-list__icon {
  fill: var(--team-clients-list__icons-link);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.team-icons-list__link:hover .team-icons-list__icon, .team-icons-list__link:focus .team-icons-list__icon {
  fill: var(--light-color);
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-list__item {
  width: 170px;
  height: 92px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  fill: var(--team-clients-list__icons-link);
  transition: fill var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  margin-right: 70px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.address-list__item {
  display: inline-flex;
  width: 100%;
}
.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-list__link_secondary_color {
  color: var(--secondary-color);
}

.footer__contacts {
  margin-right: 70px;
  width: 231px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-socials__text {
  text-transform: uppercase;
  color: var(--light-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-socials {
  margin-right: 93px;
}

.footer-socials-list {
  display: flex;
  gap: 10px;
}

.footer-socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-socials-link);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.footer-socials-list__link:hover, .footer-socials-list__link:focus {
  background-color: var(--accent-color);
}

.footer-socials-list__icon {
  fill: var(--light-color);
}

.footer-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer-form__input {
  width: 358px;
  min-height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--light-color);
}
.footer-form__input:focus {
  outline: none;
}

.footer-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--light-color);
}

.footer-form-subscribe {
  display: flex;
  gap: 12px;
}/*# sourceMappingURL=main.css.map */