:root {
  --main-font-family: "Roboto", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --light-color: #FFFFFF;
  --footer__contacts: rgba(255, 255, 255, 0.6);
  --dark-background: #2F303A;
  --light-background: #FFFFFF;
  --accent-background: #F5F4FA;
  --hero__button-hover: #188CE8;
  --header-border: #ECECEC;
  --projects-border: #EEEEEE;
  --features-list__icon-background: #F5F4FA;
  --team-clients-list__icons-link: #AFB1B8;
  --footer-socials-link: rgba(255, 255, 255, 0.1);
  --work-list__text-background: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-bg: rgba(33, 150, 243, 0.9);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --modal-form-placeholder: rgba(117, 117, 117, 0.5);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-color);
  background-color: var(--light-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.logo_dark_theme {
  color: var(--light-color);
}

.title {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo_accent {
  color: var(--accent-color);
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.filter-list__button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-background);
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.filter-list__button:hover, .filter-list__button:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.projects-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects-list__link {
  display: inline-block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
.projects-list__link:hover, .projects-list__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 63px;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--light-color);
  background-color: var(--portfolio-overlay-bg);
}
.projects-list__link:hover .projects-overlay, .projects-list__link:focus .projects-overlay {
  transform: translate(0, 0);
}

.projects__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.projects__type {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.projects-card-content-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--projects-border);
  border-top: none;
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  margin-right: 70px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.address-list__item {
  display: inline-flex;
  width: 100%;
}
.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-list__link_secondary_color {
  color: var(--secondary-color);
}

.footer__contacts {
  margin-right: 70px;
  width: 231px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-socials__text {
  text-transform: uppercase;
  color: var(--light-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-socials {
  margin-right: 93px;
}

.footer-socials-list {
  display: flex;
  gap: 10px;
}

.footer-socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-socials-link);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.footer-socials-list__link:hover, .footer-socials-list__link:focus {
  background-color: var(--accent-color);
}

.footer-socials-list__icon {
  fill: var(--light-color);
}

.footer-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer-form__input {
  width: 358px;
  min-height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--light-color);
}
.footer-form__input:focus {
  outline: none;
}

.footer-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--light-color);
}

.footer-form-subscribe {
  display: flex;
  gap: 12px;
}/*# sourceMappingURL=portfolio.css.map */