.features-list__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
 }

.features-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.features-list__icon {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    min-height: 120px;
    background-color: var(--features-list__icon-background);
}

@media screen and (max-width: 1199px) {
    .features {
        padding-top: 60px;
        padding-bottom: 60px;
    }    

}

@media screen and (max-width: 767px) {
    .features-list__subtitle {
        text-align: center;
        margin-bottom: 10px;

    }

    .features-list__item:not(:last-child) {
        display: block;
        margin-bottom: 30px;

    }

    
}

@media screen and (min-width: 768px) {
    .features-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .features-list__item {
        flex-basis: calc((100% - 60px) / 2);
    }

    

}

@media screen and (min-width: 1200px) {
    .features {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .features-list__item {
        flex-basis: calc((100% - 90px) / 4);
    }

}
