.footer {
    background-color: var(--dark-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {    
    font-style: normal;    
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.address-list__item {
    display: inline-flex;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.address-list__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-color);

    transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-list__link_secondary_color {
    color: var(--secondary-color);
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-socials__text {
    text-transform: uppercase;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.footer-socials-list {
    display: flex;
    gap: 10px;    
}

.footer-socials-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-socials-link);
    transition: background-color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.footer-socials-list__icon {
    fill: var(--light-color);
}

.footer-form__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
}

.footer-form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--light-color);
}

.footer-form__input {
    width: 450px;
    min-height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: var(--light-color);

    &:focus {
        outline: none;
    }
}

@media screen and (max-width: 1199px) {
    .footer-form-submit {        
        margin: 0 auto;
    }  

    .address-list__link {
        margin-left: auto;
        margin-right: auto;
    }

    .footer__container {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .footer-socials-list {
        margin: 0 auto;
        width: 202px;
    } 

    .footer-form__input {
        margin-bottom: 20px;
    }  
    
    .footer-socials__text {
        text-align: center;
    }

    .footer-contacts,
    .footer-wrapper {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) {
    .footer-wrapper {
        display: flex;
        justify-content: space-between; 
        align-items: baseline;               
    } 

    .footer-contacts {
        flex-basis: calc((100% - 165px) / 2);
    }

    .footer-socials {
        flex-basis: calc((100% - 165px) / 2);
        display: flex;
        flex-direction: column;        
        align-items: center;   
    }

    .footer-socials__text {
        display: block;        
        margin-bottom: 20px;
    }

    .footer-form__input {
        margin-bottom: 20px;
    }    
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-wrapper {
        margin-bottom: 60px;
    }
}
   
@media screen and (min-width: 1200px) {
    .footer-form-submit {
        gap: 10px;
    }

    .footer-contacts {
        margin-right: 70px;
        min-width: 231px;
    }

    .footer__container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }   

    .footer-socials {        
        text-align: center;
    }

    .footer-form-subscribe {
        display: flex;
        gap: 12px;
    }

    .footer-form__input {
        max-width: 358px;        
    }

    .footer-socials__text {
        display: block;
        margin-bottom: 20px;
    }

    .footer-wrapper {
        margin-right: 93px;
    }
}